.persons {
  padding: 30px 0;
  position: relative;
  background-color: #222;
  color: #f9fcfb;
  background-image: url("../../assets/call.jpg");
  background-size: contain;
  background-repeat: no-repeat;

  @media only screen and (max-width: 860px) {
    background-image: none;
  }

  p {
    margin-bottom: 10px;
  }

  h3 {
    padding-top: 0;
  }

  i {
    padding-right: 15px;
  }


  &_card-left {
    width: 860px;
    text-align: left;
    line-height: 2;
    margin: 100px 20px 100px auto;

    @media only screen and (max-width: 860px) {
      width: 100%;
      padding-left: 30px;
      margin: 15px 20px 15px auto;
    }

  }

  &_card-right {
    width: 860px;
    text-align: right;
    line-height: 2;
    margin: 100px 20px 100px auto;


    @media only screen and (max-width: 860px) {
      width: 100%;
      padding-right: 30px;
      margin: 15px 20px 15px auto;
    }
  }

  &_image-left {
    width: 25%;
    float: left;
    padding-right: 30px;

    @media only screen and (max-width: 860px) {
      display: none;
    }
  }

  &_image-right {
    width: 25%;
    float: right;
    padding-left: 30px;

    @media only screen and (max-width: 860px) {
      display: none;
    }
  }
}