.carousel_container{
  padding-top: 56px;
}

.carousel_background{
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center top;
}

carousel_logo{
  height: 250px;
}

.carousel,.item,.active{
  height:100%;
}
.carousel-inner{
  height:100%;
}
