.header_select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px 30px 5px 5px;
  background-image: url("../../assets/select.png");
  background-repeat: no-repeat;
  background-position: 95% center;
  background-color: #343a40;
  color: #f9fcfb;
  border-radius: 4px;
  outline-color: #f9fcfb;
}

