.carousel {
  height: 100%;

  @media only screen and (max-width: 860px) {
    display: none;
  }

  &_container {

    @media only screen and (max-width: 860px) {
      display: flex;
      justify-content: center;
      background-color: #101010;
      color: #f9fcfb;
    }
  }

  &_slogan{
    font-size: 1.5rem;
    letter-spacing: 5px;
  }

  &_background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
  }

  &_logo {
    height: 250px;
  }


  &-inner {
    height: 100%;
  }

  &_mobile_logo{
    display: none;

    @media only screen and (max-width: 860px) {
      display: block;
      padding: 100px 0;
    }

  }
}

.item, .active {
  height: 100%;
}

