body {
  margin: 0;
  font-family: 'Montserrat',    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,body{
  height:100%;
}

.carousel_container{
  padding-top: 56px;
}

.carousel,.item,.active{
  height:100%;
}
.carousel-inner{
  height:100%;
}

/* ABOUT */
#about{
  padding: 150px 0;
  position: relative;
  background-color: #f9fcfb;
}

.about_icon{
  color: #344;
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.about_icon:hover{
  color: #111;
}

.about_row{
  font-family: "Montserrat";
  color: #5f6769;
  margin: 150px auto;
}

/*PERSONS*/

#persons{
  padding: 30px 0;
  position: relative;
  background-color: #222;
  color: #f9fcfb;
  background-image: url("./assets/call.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

#persons p{
  margin-bottom: 10px;
}

#persons h3{
  padding-top: 0;
}

.persons_card-left{
  width: 860px;
  text-align: left;
  line-height: 2;
  margin: 100px 20px 100px auto;
}

.persons_card-right{
  width: 860px;
  text-align: right;
  line-height: 2;
  margin: 100px 20px 100px auto;
}

.persons_image-left{
  width: 25%;
  float: left;
  padding-right: 30px;
}

.persons_image-right{
  width: 25%;
  float: right;
  padding-left: 30px;
}

/*CONTACTUS*/

#contact-us{
  padding: 30px 0;
  margin: auto;
  position: relative;
  background-color: #f9fcfb;
  color: #111;
}

#contact-us Form{
  margin: auto;
  width: 760px;
}

#contact-us h1{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

/*FOOTER*/

#footer{
  text-align: center;
  padding: 50px 15% 5px;
  background-color: #222;
  color: #f9fcfb;
}

.footer_content{
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
}

.footer_text{
  text-align: left;
}

.footer_text_mark{
  line-height: 35px;
}

.footer_copyright{
  margin-bottom: 0;
}
