.contact-card-left{
    width: 860px;
    text-align: left;
    line-height: 2;
    margin: 100px 20px 100px auto;
}

.contact-card-right{
    width: 860px;
    text-align: right;
    line-height: 2;
    margin: 100px 20px 100px auto;
}
